streamlit
pyngrok
langchain
groq
pydantic
langchain-pinecone
pinecone
langchain-core
bitsandbytes
transformers
accelerate
langchain-huggingface
langchain-community
langchain-experimental
pypdf
langgraph
langchain-text-splitters
langchain-groq
torch
